body {
    color: #1f37a1;
    font: italic 15px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    border: 15px solid rgb(3, 16, 3);}
h1 {
    font: bold 40px/30px ;
    text-decoration: underline rgb(210, 11, 11) dashed 10px;
    text-underline-offset: 10px;
    text-align: center;
    
}
dl {
    font-weight : bolder;
    letter-spacing: 2px;
    word-spacing: 1px;
    line-height: 24px;
    margin: 20px;
}
dt{
    text-decoration: underline rgb(36, 20, 50) dotted;
}
dd {
    font-weight : normal;
    margin: 10px;
    padding-left: 50px;
}